@model Sneakerinformation1.Models.Sneakers

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Model.DisplayText;
}

<h2>@Model.DisplayText</h2>

<div class="row">
    <div class="col-md-6">
        <div class="well">
            <h5><label>Shoe Model:</label> @Model.ShoeModel</h5>
            <h5><label>Model #:</label> @Model.ModelNumber</h5>
            <h5><label>Favorite:</label> @(Model.Favorite ? "Yes" : "No")</h5>
            @if (Model.Brands.Length > 0)
            {
            <h5>Brands:</h5>
            <div>
                <ul>
                    @foreach (var brand in Model.Brands)
                    {
                        <li>@brand.Role: @brand.Name</li>
                    }
                </ul>
            </div>
            }
        </div>
        <h5>Description: </h5>
        <div>@Html.Raw(Model.DescriptionHtml)</div>
</strong></p>
    </div>
    <div class="col-md-6">
        <img src="https://s-media-cache-ak0.pinimg.com/236x/90/5b/ae/905baeaa57094aebd76bd59343e88dda.jpg"
             alt="The History Of Air Jordan #1" class="img-responsive" />
    </div>
</div>

<h1>@Model.ShoeModel</h1>
<h2>Model #@Model.ModelNumber</h2>




  